/* 
Alchemy Brand Colors:

#000000 black
#FFFFFF white
#39499B blue
#00AA8F teal
#EFEB3E yellow
#EB4D5C red
*/

#add-fruit {
    background: #00AA8F;
    color: white;
}

h2 {
    margin-right: 10px;
    font-size: 1.25em;
}

form {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    form {
        flex-direction: column;
        align-items: initial;
    }

    label {
        justify-content: space-between;
        max-width: 200px;
    }
}

label {
    margin: 0 10px 10px 0;
    display: flex;
    align-items: center;
}

input {
    margin-left: 5px;
}

button {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}
